* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* cursor: pointer; */
}

/* MOBILE VIEW */

/* NAVIGATION BAR */
.navbar-brand {
  margin-top: 15px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  color:  hsl(0, 0%, 75%);
}

.navbar-collapse {
  text-align: center;
  background-color: hsl(257, 27%, 26%);
  border-radius: 10px;
  padding: 25px;
}

.navbar-nav{
  list-style: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: hsl(257, 7%, 63%);
}

.sign-in-btn {
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border-radius: 30px;
  font-weight: 700;
}

.sign-in-btn:hover {
  background-color:  hsl(180, 29%, 52%);
  color: #ffffff;
}

hr {
  border: 0.5px solid hsl(257, 7%, 63%);
  border-radius: 15px;
}

/* HERO */
#hero {
  margin-bottom: 70px;
}

#hero h1 {
  color: hsl(255, 11%, 22%);
  font-weight: 700;
  line-height: 42px;
  margin-top: 10px;
  text-align: center;
}

#hero h4 {
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

#hero button {
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border: 1px solid hsl(180, 66%, 49%);
  border-radius: 30px;
  width: 150px;
  padding: 10px;
  margin: 10px 0px 40px;
}

#hero button:hover {
  border: none;
  background-color: hsl(180, 29%, 52%);;
  color: #ffffff;
}

#hero .button-box {
  width: 150px;
  margin: 0 auto;
}

/* INPUT BAR SECTION */
#input-bar {
  background-color: hsl(0, 0%, 90%);
  width: 100%;
  position: absolute;
  /* padding-bottom: 50px; */
}

#input-bar .input-box {
  width: 90%;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  margin: -60px auto 10px;
  
}

#input-bar .input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: hsl(255, 11%, 22%);
  font-weight: 500;
}

#input-bar .input-box button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  font-weight: 700;
}

#input-bar .input-box button:hover {
  background-color: hsl(180, 29%, 52%);
  color: #ffffff;
}

/* HEADING  */
.heading {
  margin-top: 40px;
} 

.heading h2 {
  text-align: center;
  font-weight: 700;
  color: hsl(260, 8%, 14%);
  line-height: 54px;
}

.heading h5 {
  color: hsl(257, 7%, 63%);
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 5px;
}

/* CARDBOXS */
.cardbox {
  font-size: 18px;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.cardbox h4 {
  color: hsl(257, 27%, 26%);
  font-weight: 700;
  line-height: 42px;
  margin-top: 20px;
}

.cardbox h5 {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.box-3 {
  margin-bottom: 60px;
}

/* BANNER */
#banner {
  padding: 60px;
  width: 100%;
  position: absolute;
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

#banner h2 {
  font-weight: 700;
  font-size: 28px;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}

#banner button {
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border: 1px solid hsl(180, 66%, 49%);
  border-radius: 30px;
  width: 150px;
  padding: 10px;
}

#banner button:hover {
  background-color: hsl(180, 29%, 52%);
  color: #ffffff;
  border: none;
}

#banner .button-box-2 {
    width: 150px;
    margin: 20px auto;
}

/* FOOTER */
footer {
  margin-top: 290px;
  background-color: #000000;
  color: #ffffff;
  padding: 70px;
  text-align: center;
}

footer ul li {
  list-style: none;
  font-size: 18px;
  line-height: 42px;
}

footer ul li:hover {
  color: hsl(180, 66%, 49%);
}

footer h3 {
  line-height: 80px;
  font-weight: 700;
  font-size: 42px;
}

footer h2 {
  font-weight: 700;
  font-size:  24px;
  line-height: 42px;
}

footer .social-media-icon ul li {
  display: inline;
  padding: 5px;
}

footer .social-media-icon ul li:hover {
  color: hsl(180, 66%, 49%);
}

/* .line {
  background:  hsl(180, 66%, 49%);
  height: 30px;
  width: 10px;
  margin-top: 0px;
} */

#input-bar .generated-link-section {
  width: 90%;
  margin: 20px auto 10px;
  
}

#input-bar .flex-container {
  padding: 20px 20px 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

#input-bar .flex-container .full-link p{
  color: hsl(257, 27%, 26%);
  font-size: 20px;
}

#input-bar .flex-container .shortened-link{
  display: flex;
  flex-direction: column;
  
}

#input-bar .flex-container .shortened-link p{
  color: hsl(180, 66%, 49%);
  font-size: 20px;
}

#input-bar .flex-container .shortened-link button {
  margin-left: 0px;
  padding: 5px;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border: 1px solid hsl(180, 66%, 49%);
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

#input-bar .flex-container .shortened-link button:hover {
  background-color: hsl(180, 29%, 52%);
}



/* TABLET AND DESKTOP VIEW */
@media(min-width: 767px) {
  /* NAVIGATION BAR */
  .navbar-brand {
    margin-top: 5px;
  }

  hr {
    display: none;
  }

  .navbar-collapse {
    background-color: #ffffff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: hsl(257, 7%, 63%);
    font-weight: 500;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: hsl(257, 27%, 26%);
  }

  .sign-in-btn {
    padding: 0px 30px;
    font-weight: 500;
    margin-left: 10px;
  }
     
/* HERO */
#hero {
  margin-bottom: 100px;
} 

#hero h1 {
  line-height: 52px;
  text-align: left;
  max-width: 400px;
  margin-top: 10px;
}

#hero h4 {
  max-width: 400px;
  text-align: left;
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  line-height: 32px;
}

#hero button {
  margin: 20px 0px ;
  text-align: center;
}

#hero .button-box {
  width: 150px;
  margin: 0 0px;
}

/* INPUT BAR SECTION */
#input-bar .input-box {
  background-image: url("../images/bg-shorten-desktop.svg");
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

#input-bar .input-box input {
  width: 70%;
  margin-right: 50px;
}

#input-bar .input-box button {
  width: 19%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}


/* HEADING  */
.heading {
  margin-top: 70px;
} 

.heading h5 {
  text-align: center;
  max-width: 500px;
  margin:  0 auto;
  margin-bottom: 40px;
}

/* CARDBOXS */
.cardbox {
  font-size: 18px;
  text-align: left;
  margin-bottom: 90px;
}

.cardbox h5 {
  max-width: 300px;
}

.box-2 {
  margin-top: 30px;
}

.box-3 {
  margin-top: 80px;
}

/* BANNER */
#banner {
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 800px; */
}

/* FOOTER */
footer {
  margin-top: 286px;
} 

footer ul li {
  list-style: none;
  font-size: 18px;
  line-height: 40px;
}

footer h3 {
  line-height: 50px;
  font-weight: 700;
  font-size: 32px;
}

footer h2 {
  font-weight: 700;
  font-size:  20px;
  line-height: 42px;
}


#input-bar .generated-link-section {
  width: 90%;
  margin: 50px auto 10px;
  
}

#input-bar .flex-container {
  padding: 20px 20px 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#input-bar .flex-container .full-link p{
  color: hsl(257, 27%, 26%);
  font-size: 20px;
}

#input-bar .flex-container .shortened-link{
  display: flex;
  flex-direction: row;
  
}

#input-bar .flex-container .shortened-link p{
  color: hsl(180, 66%, 49%);
  font-size: 20px;
}

#input-bar .flex-container .shortened-link button {
  margin-left: 30px;
  padding: 5px;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff;
  border: 1px solid hsl(180, 66%, 49%);
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

#input-bar .flex-container .shortened-link button:hover {
  background-color: hsl(180, 29%, 52%);
}




}
